body{
	background-image: url("bg.jpg");
   	background-color: #cccccc;
   	color: #ffffff;

}
.cntring{
	padding-left: 40%
}

.image { 
   
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 
   height: 400
   
}
.form-control{
	width: 60%
	text-align:center;
}
.centerr{
	text-align: center;
	font-color: #FF0000;
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
h1 {
	padding-left: 20%
}


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
    
}

/* Responsive layout -*/
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
#sub{
	background-color: #F4989c;
	height: 50px;
	width: 100px;
	margin: 20px;
	margin-top: 30px;
	font-size: 1em;
	border-radius: 1000px;
	padding left: 50%; 
}
.fa {
    padding-left:16.66%;
    font-size: 50px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
.img-thumbnail{
	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    max-height: 300px;
}


